/* normalize */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* estilos el menu */
.nav{
    padding: 20px;
    background-color:rgb(74, 100, 77);
    
}

.menu{
    display: flex;
    list-style: none;
    justify-content:space-around;
    

}
.item {
    margin: 20px;
}
.item a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family:'Times';
}
.footer{
    margin: 0px;
    padding: 30px;
    background-color:rgb(85, 77, 55);
    display:flex;
    justify-content:center;
    color:rgb(255, 255, 255);
}
.sectionap-title{
    display: flex;
    justify-content:center;
    font-family:'times';
    font-style: italic;


/* estilos para la seccion principal */
.sectionindex{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "main main aside"
                         "widget widget widget";
}

/* estilos globales para todas las secciones */
.section > .main, .aside, .widget{
    padding: 15px;
    justify-content: center;
}


/* areas */
.main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

.widget{
grid-area: widget;
}

/* main */
.main{
    margin: 10px;
    height: auto;
    

}

.main .article{
    display: block;
    margin-bottom: 10px;
}
.main .article .post{
    padding: 20px;
}
.post .post_img{
width: 100%;
}
.post .post_img img{
    width: 100%;
    height: 100%;
}

.post .post_img .leyend{
    text-align: center;
    color: rgb(206, 198, 198);
    font-size: 20px;
}
.post .post_text{
margin: 5px 0;
}
.post .post_text .title{
   margin: 5px;
}

.divider{
    border-top: 1px solid black;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
}

/* aside */
aside{
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(233, 227, 227);
    
}
aside .social{
 padding: 10px;
 margin: 10px;

}
aside .social .redes{
    display: flex;
    justify-content: space-around;
}
aside .social .title_social{
    padding: 10px;
    background:rgb(223, 217, 217);
}
aside .social a{
    padding: 10px;
    background: rgb(74, 100, 77);
    margin: 10px;
}
aside .social a:hover{
    background:rgb(57, 73, 59) ;
}
aside .social i{
    font-size: 30px;
    color: #fff;
}


aside .banner{
    padding: 10px;
    margin: 10px;
   
}
aside .banner .banner_width{
    background: rgb(138, 131, 131);
    width: 500px;
    height: 300px;
    text-align: center;
    color: #fff;
}
aside .banner .banner_width h4{
    margin: auto;
    justify-content: center;
    
}


/* widget */

.widget{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
}
.widget .card{
   border: 1px solid #850a0a;
   padding: 0px;
}
.operadores{
    font-family: 'times';
    text-align: center;
}
.nombre_operador{
    display:flex;
    text-align: center;

}