*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    padding: 20px;
    background-color:rgb(74, 100, 77);
    
}

.menu{
    display: flex;
    list-style: none;
    justify-content:space-around;
    

}
.item {
    margin: 20px;
}
.item a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family:'Times';
}
.footer{
    margin: 0px;
    padding: 30px;
    background-color:rgb(85, 77, 55);
}
.contacto{
    display:flex;
    justify-content:space-evenly ;
    color:rgb(255, 255, 255);
}

